.git
.github
.gitignore
.env
.env.*
!.env.production
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
docker-compose*.yml
.editorconfig
.styleci.yml
phpunit.xml
